:root {
    --main-yellow: #fec702;
    --black: #000;
    --gray: #858585;
    --medium-gray: #a5a5a5;
    --light-gray: #eaeaea;
    --white: #eff5fc;
}

* {
    box-sizing: border-box;
    margin: 0;
}

.bg-white {
    background-color: var(--white);
}

.section {
    max-width: 1200px;
    margin: 0 auto;
}